<h1><%= @kitten.name %></h1>

<table>
  <tr>
    <th>Age</th>
    <th>Cuteness</th>
    <th>Softness</th>
  </tr>
  <tr>
    <td><%= @kitten.age %></td>
    <td><%= @kitten.cuteness %></td>
    <td><%= @kitten.softness %></td>
  </tr>
</table><br><br>

<%= link_to "Back to kittens", kittens_path %><br>
<%= link_to "Edit", edit_kitten_path(@kitten) %><br>
<%= link_to "Delete", kitten_path(@kitten), method: :delete, data: { confirm: "Are you sure?" } %>